#presentation {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

#presentation p {
    height: min-content;
    text-align: justify;
}

#presentation img {
    width: calc(50% - 10px);
    margin-left: 10px;
    height: fit-content;
}

#articles_accueil {
    display: flex;
    justify-content: center;
}

.article_accueil {
    width: calc(20% - 20px);
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    margin:10px;
    position: relative;
}

.article_container {
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.article_accueil img {
    max-width: 100%;
    margin-top: 20px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.article_accueil h3 {
    width: calc(40% - 20px);
    padding:10px;
    margin-right: auto;
}

.article_accueil h4 {
    width: calc(60% - 20px);
    padding:10px;
    margin-left: auto;
    text-align: right;
    color:#20738d;
}

.article_accueil h4 s {
    color:red;
}

.article_accueil p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

.bouton_produit_accueil, .bouton {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    text-decoration: none;
}

.bouton {
    background:#0eb2ba;
    border-radius: 3px;
}

#presentation .bouton {
    margin-top:20px;
}

.bouton:hover {
    background: #0b8e94;
}

.bouton_produit_accueil {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: #eac013;
    border-radius: 3px;
}

.article_accueil:hover .article_container {
    opacity: 0.5;
}

.article_accueil:hover .bouton_produit_accueil {
    opacity: 1;
}

.bouton_produit_accueil:hover {
    background:#bb990f;
}

#texte_presentation {
    flex-wrap: wrap;
    display: flex;
    margin-right: 10px;
    width: calc(50% - 10px);
    margin-bottom: auto;
}
a {
    text-decoration: none;
    color: white;
}
#accueil_2 {
    width:100%;
    margin-top:20px;
}

#icones_accueil {
    background-color: grey;
    background-image: url("../images/accueil/accueil_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.icones_accueil_liste {
    background: rgba(0,0,0,0.8);
    width: calc(50% - 30px);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: auto;
}

.icones_accueil_liste:last-child {
    margin-left: 20px;
}

.une_icone {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.une_icone a{
    font-size:18px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.icones_accueil_liste:last-child .une_icone a{
    text-align: left;
}

.iconify{
    color:#20738d;
    font-size:38px;
    position: relative;
        top: 10px;
}
.une_icone a:hover{
    color:#eac013;
}
/* mode tablette */
@media screen and (max-width: 960px) {
    #presentation img, #texte_presentation {
        width:100%;
        margin: auto;
    }

    #presentation img {
        margin-top: 20px;
    }

    #articles_accueil {
        flex-wrap: wrap;
    }

    .article_accueil {
        width: calc(45% - 20px);
    }

    #icones_accueil {
        background-size: cover;
        height: auto;
    }

    .icones_accueil_liste {
        width: 70%;
        font-size: 1.4rem;
    }

    .contenu {
        width: calc(90% - 40px);
    }
}
/* mode smartphone */

@media screen and (max-width: 680px) {
    .article_accueil {
        width: calc(90% - 20px);
    }

    .une_icone img {
        width: 50px;
        margin-right: 20px;
    }

    .icones_accueil_liste:last-child .une_icone img {
        margin-right:0;
        margin-left:20px;
    }

    .icones_accueil_liste {
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    .une_icone a{
        font-size: 0.9rem;
    }
    .iconify {
        color: #20738d;
        font-size: 1.6rem;
    }
}

