.conteneur-form{

    background-color: rgba(0,0,0,0.8);
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    height: 50%;
    padding-bottom: 5%;
    border-radius: 5px;
}
.form-control{
    width: 100%;
    height: 35px;
}
.description{
    height: 70px!important;
    width: 95%!important;
}
.cont_desc{
    margin-left: 5%;
    margin-top: 5%;
}
.conteneur_contact1{
    display: flex;
    margin-left: 5%;
}
.div_form{
    width: 45%;
}
.div_form1{
    margin-right: 5%;
}
.div_titre{
    padding-top: 1%;
}
.cont_btn{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}
.btn{
    width: 15%;
    border-radius: 0px;
    height: 30px;
    background-color: white;
    color: gray;
}


#titre{
    text-align: center;
}
#objet{
    margin-left: 23%;
}
#addresse_mail{
    margin-left: 23%;
}
#desc{
    margin-left: 23%;
}


@media screen and (max-width: 600px) {
    
    .conteneur_contact1{
        display: block;
        margin-bottom: 5%;
    }
    .div_form{
        margin-bottom: 5%;
        width: 90%;
    }
    .description{
        width: 90%!important;
    }
    .btn{
        width: 65px;
    }
}