.cont_footer{
    background-color: black;
}
.footer{
    display: flex;
}
p{
    color: white;
}
h3{
    color: white;
    margin-left: 40px;
}
.lien_footer{
    color: white;
    text-decoration: none;
}
.cont_lien_footer{
    list-style: none;
}
.text_desc{
    margin-left: 40px;
    width: 40%;
}
.copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}
.lien_footer:hover{
    text-decoration: underline;
}
