body {
    margin:auto;
    font-family:arial;
    background: #2d2929;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
}

#header {
    display: flex;
    background: #161616;

}

#contenu_page {
    margin: auto;
    margin-left: 150px;
    margin-right: 150px;
    min-height: 800px;
    background: #fffff0;
}

.titre_page {
    font-family: 'Smooch Sans', sans-serif;
    color: #eac013;
}

/* padding bottom à changer si tu changes la hauteur du footer */
.contenu {
    width: 90%;
    background: rgba(0,0,0,0.8);
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 60px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

