#navbar {
    display: flex;
    justify-content: center;
    background: #161616;
    margin:auto;
}

.navbar_link {
    padding:15px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #161616;
}

.navbar_link:hover {
    color : #1AE5F1;
    border-bottom: 2px solid #1AE5F1;
    text-decoration: none !important;
    color: white;
}

#icone_menu {
    display:none;
}

.ouvrir_menu {
    display: flex!important;
}

/* mode tablette */

@media screen and (max-width: 960px) {
    #navbar {
        flex-direction: column;
        z-index: 1000;
        margin-left: 0;
        position: absolute;
        top: 40px;
        display: none;
    }

    #icone_menu {
        display: block;
        width: 40px;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        position: relative;
        cursor:pointer;
    }

    #header {
        height: auto;
        flex-direction: column;
    }
}

@media screen and (min-width: 961px) {
    #navbar {
        flex-direction: row;
        margin: auto;
        position: initial;
        display: flex;
    }

    #icone_menu {
        display: none;
    }

    #header {
        flex-direction: row;
    }

}