.cont_panier{
    height: 60%;
    background-color: #161616;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 15px;
    padding-top: 1%;
    overflow: auto;
    display: flex;
}
.cont_panier2{
    width: 60%;
    margin-left: 10%;
    margin-right: 5%;
}
.panier{
    background-color: white;
    height: 30%;
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
    border: solid black;
    width: 100%;
    justify-content: space-between;
}
.imagePanier{
    width: 30%;
}
.quantity{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.t_panier{
    font-size: 25px;
    margin-top: 1%;
    color: black;
}
.panier_livraison{
    margin-top: 2%;
    background-color: white;
}
.cont_buy{
    text-align: center;
    margin-bottom: 1%;
}
.delete_panier{
    margin-top: 3%;
}
.text_panier{
    margin-right: 10%;
}
.total_buy{
    width: 20%;
    background-color: white;
    height: 30%;
    margin-top: 10%;
}
.cont_total{
    text-align: center;
    height: 50%;
    padding-top: 10%;
}