/*Titre page*/
h2 {
    color: #eac013;
    font-size: 30px;
    font-family: 'Smooch Sans', sans-serif;
}
/*Sections de page*/
.colonnes_container {
    display: flex;
    flex-direction: row;
}
.colonne_tri {
    display: unset;
    width: 200px;
    height: 100%;
    margin: 20px;
    position: relative;
        left: -10px;
}
.colonne_droite {
    width: 75%;
}
/*Partie tri produits*/
label {
    color: white;
    font-size: 14px;
}
select {
    color: white;
    border: 1px;
    border-radius: 2px;
    background-color: #20738d;
    padding: 3px;
    margin: 3px 0px;
    width: 80px;
}
option:hover {
    background-color: #bb990f;
}
button {
    color: white;
    background-color: #20738d;
    border: 1px solid grey;
    padding: 10px;
    margin-top: 7px;
    border-radius: 4px;
}
button:hover {
    background-color: #eac013;
    color: black;
}
/*Boutons de recherche sur petits écrans, caché sur les grands écrans*/
.open_button {
    display: none;
}
.close_button{
    display: none;
}
/*Partie articles*/
/*Centrage et wrapping des éléments*/
#articles_produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*Mise en forme de chaque carte article*/
.article_produits {
    width: calc(20% - 20px);
    padding: 10px;
    margin:10px;
    position: relative;
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
}
.article_container {
    display: flex;
    flex-wrap: wrap;
    background: white;
    height: 100%;
}
/*Image vélo*/
.article_produits img {
    max-width: 100%;
    margin-top: 20px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
/*Nom produit*/
.article_produits h3 {
    font-size: 18px;
    width: calc(40% - 20px);
    padding:10px;
    margin-right: auto;
}
.article_produits h4 {
    width: calc(60% - 20px);
    padding:10px;
    margin-left: auto;
    text-align: right;
    color:#20738d;
}
/*prix barré*/
.article_produits h4 s {
    color:red;
}
/*Extrait de la désignation*/
.article_produits p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}
.bouton_produit {
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background: #eac013;
}
.bouton_produit:hover {
    background:#bb990f;
}
/*Effets de transparence au survol*/
.article_produits:hover .article_container {
    opacity: 0.5;
}
.article_produits:hover .bouton_produit {
    opacity: 1;
}
#accueil_2 {
    width:100%;
    margin-top:20px;
}

#icones_accueil {
    background-image: url("../images/accueil/accueil_2.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:1080px;
    margin-top: 20px;
}


/* responsive */
@media only screen and (max-width: 1400px) {
    .article_produits {
        width: 40%;
    }
}
@media only screen and (max-width: 850px) {
    .open_button {
        display: unset;
    }
    .close_button{
        display: unset;
        position: absolute;
        top: -5px;
        left: 182px;
        color: white;
        background-color: black;
    }
    /*Affichage du tri sous forme de popup pour les petits écrans*/
    .colonne_tri {
        display: none;
        justify-content: left;
        position:absolute;
                left: 5%;
                top: 248px;
        height: 280px;
        padding: 10px;
        border: solid 1px grey;
        border-radius: 4px;
        z-index: 1;
        background-color: #161616;
    }
    .colonne_droite {
        width: 100%;
    }
    .colonnes_container {
        justify-content: center;
    }
    /*Overwrite du CSS en mode large pour avoir à nouveau la colonne de tri*/
    .force_display {
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .article_produits {
        width: 80%;
    }
    .colonne_droite {
        width: 100%;
    }
    .colonnes_container {
        justify-content: center;  
    }
}