.div_produit {
    display: flex;
    background: white;
    border-radius: 5px;
}

.div_produit img {
    padding: 10px;
    width: calc(60% - 20px);
    height: fit-content;
    margin: auto;
}

.div_produit #caracteristiques {
    padding: 10px;
    width: calc(40% - 20px);
    display: flex;
    flex-direction: column;
}

#prix {
    background: white;
    height: fit-content;
    color:#20738d;
}


#prix strike {
    color: #d92626;
}


.caracteristiques_element {
    margin-left: auto;
    padding: 5px;
    text-align: right;
}

.xdebug-var-dump {
    background: white;
}

#qte_ajout_panier, #bouton_ajout_panier {
    width: 160px;
}

#qte_ajout_panier {
    height: 37px;
    border-radius:3px;
    border: 1px solid grey;
}

#form_ajout_panier, #form_connexion {
    margin-left: auto;
}

#form_connexion {
    display: flex;
}

#form_connexion * {
    margin: auto;
}

@media screen and (max-width: 960px) {
    .div_produit img, .div_produit #caracteristiques {
        width: calc(100% - 20px)
    }

    .div_produit {
        flex-wrap: wrap;
    }

    #form_connexion {
        flex-direction: column;
    }

    #form_connexion .bouton {
        margin-right: 0;
    }
}